[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "hydroMOPSO"]
	path = hydroMOPSO
	url = https://gitlab.com/rmarinao/hydromopso
	shallow = true
	registered = true
